    
  body{
      color:darkolivegreen;

      background-color:lightgoldenrodyellow;

      font-family:Georgia, 'Times New Roman', Times, serif;
  }
  img#ring{
        width: 350px;
      
      }

      img#sky{
        width: 350px;

      }

      img#family{
        width: 350px;

      }