    
  body{
      color:darkolivegreen;

      background-color:lightgoldenrodyellow;

      font-family:Georgia, 'Times New Roman', Times, serif;
  }
      img#zagster{
        width: 350px;
      
      }

      img#travel{
        width: 350px;

      }

      img#about{
        width: 350px;

      }

      img#sisters{
        width: 1100px;
        height: 300px;

      }