    
  body{
      color:darkolivegreen;

      background-color:lightgoldenrodyellow;

      font-family:Georgia, 'Times New Roman', Times, serif;

      {
        img#ring
        width: 350       
      }

      {
        img#sky
        width: 350
      }

      {
        img#family
        width: 350
      }


    }

